:root {
  --cor-p0: #000;
  --cor-p1: #202020;
  --cor-p2: #404040;
  --cor-p3: #606060;
  --cor-p4: #808080;
  --cor-p5: #A0A0A0;
  --cor-p6: #C0C0C0;
  --cor-p7: #DFDFDF;
  --cor-p8: #FFFFFF;
}

.cor-p0 {
  color: var(--cor-p0);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-p3 {
  color: var(--cor-p3);
}

.cor-p4 {
  color: var(--cor-p4);
}

.cor-p5 {
  color: var(--cor-p5);
}

.cor-p6 {
  color: var(--cor-p6);
}

.cor-p7 {
  color: var(--cor-p7);
}

.cor-p8 {
  color: var(--cor-p8);
}